LOTERIAS_DB_PERFIL=local

LOTERIAS_DB_HOST=localhost
LOTERIAS_DB_PORT=5433
LOTERIAS_DB_NOME=loterias
LOTERIAS_DB_USUARIO=loterias
LOTERIAS_DB_SENHA=loterias

# Perfil gerenciado: LOTERIAS_DB_PERFIL=gerenciado e preencha SSL abaixo.
# LOTERIAS_DB_SSL_MODE=require
# LOTERIAS_DB_CA=secrets/ca.pem
